@import url("../../App.css");

.character-info {
  margin-top: 50px;
}
.character-page h2 {
  font-size: 32px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-bottom: 30px;
  margin-left: 20px;
}
.specific-character-info {
  display: flex;
  margin-bottom: 50px;
}
.specific-character-info .img {
  min-width: 400px;
  padding-left: 50px;
  flex: 1.5;
}
.img img {
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.spe-char {
  flex: 2;
}
.spe-char-line {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.spe-char-line {
  margin-left: 30px;
  margin-top: 50px;
  width: 70%;
}
.spe-char-line span:first-child {
  font-weight: bold;
}
.comics-list {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  margin-bottom: 50px;
  width: 100%;

  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.comics-list::-webkit-scrollbar {
  display: none;
}
