.red {
  color: red;
}
.black {
  color: black;
}
.page-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.hide {
  display: none;
}
.page-btn-list {
  padding: 0 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-btn-list p {
  line-height: 20px;
  height: 100px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.page-btn-list p::-webkit-scrollbar {
  display: none;
}
