.page {
  align-self: center;
  position: sticky;
  position: -webkit-sticky;
  top: 116px;
  width: 100%;
  background-color: white;
  padding: 10px 0;
  z-index: 9999;
  margin-bottom: 20px;
}
.page .pagination {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.page ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.page ul li.active {
  background-color: lightgray;
}
.page ul li.active a {
  color: red;
}
.page li.previous.disabled,
.page li.next.disabled {
  display: none;
}
