.img .remove-favorite,
.img .add-favorite {
  position: absolute;
  top: 30px;
  right: 30px;
  background-color: transparent;
  padding: 15px;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  z-index: 9998;
}
.img .remove-favorite:hover,
.img .add-favorite:hover {
  background-color: lightgray;
}
