.comic-info {
  margin-top: 50px;
}
.comic-page h2 {
  font-size: 32px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-bottom: 30px;
  margin-left: 20px;
}
.specific-comic-info {
  display: flex;
  margin-bottom: 50px;
}
.specific-comic-info .img {
  min-width: 400px;
  padding-left: 50px;
  flex: 1.5;
  position: relative;
}
.img img {
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}
.img .remove-favorite,
.img .add-favorite {
  position: absolute;
  top: 30px;
  right: 30px;
  background-color: transparent;
  padding: 15px;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
}
.img .remove-favorite:hover,
.img .add-favorite:hover {
  background-color: lightgray;
}
.spe-char {
  flex: 2;
}
.spe-char-line {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.spe-char-line {
  margin-left: 30px;
  margin-top: 50px;
  width: 70%;
}
.spe-char-line span:first-child {
  font-weight: bold;
}
