.comic-card {
  width: 290px;
  height: 600px;
  text-decoration: none;
  color: black;
  margin-bottom: 50px;
}
.comic-card .img {
  width: 290px;
  height: 400px;
  position: relative;
}
.comic-card .img img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.comic-card-title-description {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
}
.comic-card-title-description h3 {
  font-size: 20px;
  font-weight: bold;
  width: 290px;
}
.comic-card-title-description p {
  width: 290px;
  font-size: 16px;
  line-height: 20px;
  height: 200px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.comic-card-title-description p::-webkit-scrollbar {
  display: none;
}
