@import url("../../App.css");

header {
  width: 100%;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  color: white;
  background-color: white;
  border-bottom: 1px solid gray;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}
.header {
  padding: 20px 0px;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header img {
  height: 100%;
  object-fit: cover;
}
.header nav {
  display: flex;
  gap: 30px;
}
.header nav span {
  padding: 10px;
  background-color: #ed1d24;
  border-radius: 5px;
  cursor: pointer;
}
.header nav span:last-child {
  margin-left: 40px;
}
