.comics-page .page {
  max-height: 80px;
  line-height: 20px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  background-color: white;
  z-index: 999999;
}

.comics-page .page::-webkit-scrollbar {
  display: none;
}
.comics-page-list {
  display: flex;
  flex-wrap: wrap;
  gap: 9px;
}
